<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="mysql" connectionString="Server=127.0.0.1;Database=cailan; User ID=root;Password=Cailan.mySql;CharSet=utf8;pooling=true;"/>
    <add name="ConnString" connectionString="Data Source=hds31615831.my3w.com;Initial Catalog=hds31615831_db;uid=hds31615831;pwd=sfrost992317" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!--微知一二服务号-->
    <add key="WeixinAppId" value="wxbdce16edce380783" />
    <add key="WeixinAppSecret" value="9b37e42205babb2dc12fe9fe6416373e" />

    <!-- URL对接信息 -->
    <add key="WeixinToken" value="第三方URL对应的Token"/>
    <add key="WeixinEncodingAESKey" value="第三方URL对应的消息加解密密钥"/>
    <!-- 高级接口信息（微知一二服务号） -->
    <add key="WeixinAppId" value="wxbdce16edce380783" />
    <add key="WeixinAppSecret" value="9b37e42205babb2dc12fe9fe6416373e" />
    <!--阳光菜篮服务号-->
    <!--<add key="WeixinAppId" value="wx0df0a9b27b3687b3" />
    <add key="WeixinAppSecret" value="0b1e132db4ad06b1461e224104b8f417" />-->
    <!-- SDK提供的代理功能设置 -->
    <add key="WeixinAgentUrl" value="外部代理Url"/>
    <add key="WeixinAgentToken" value="外部代理Token"/>
    <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey"/>
    <!-- 微信支付相关参数 -->
    <!-- 微信支付V2 -->
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
    <add key="WeixinPay_Key" value="WeixinPay_Key"/>
    <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>
    <!-- 微信支付V3（阳光菜篮） -->
    <add key="TenPayV3_MchId" value="1399300502"/>
    <add key="TenPayV3_Key" value="D992B4FBCB3BCB54ED612B8C0256B8C4"/>
    <add key="TenPayV3_AppId" value="wx0df0a9b27b3687b3"/>
    <add key="TenPayV3_AppSecret" value="0b1e132db4ad06b1461e224104b8f417"/>
    <add key="TenPayV3_TenpayNotify" value="TenPayV3_TenpayNotify"/>
    <!-- 开放平台 -->
    <add key="Component_Appid" value="Component_Appid"/>
    <add key="Component_Secret" value="Component_Secret"/>
    <add key="Component_Token" value="Component_Token"/>
    <add key="Component_EncodingAESKey" value="Component_EncodingAESKey"/>
    <!-- 企业号 -->
    <add key="WeixinCorpId" value="WeixinCorpId"/>
    <add key="WeixinCorpSecret" value="WeixinCorpSecret"/>


    <!-- Cache.Redis连接配置 -->
    <add key="Cache_Redis_Configuration" value="Redis配置"/>
    <!--<add key="Cache_Redis_Configuration" value="localhost:6379"/>-->
    
    
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
