
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录管理系统</title>
</head>
<body>
    <div> 
        <form action="/Management/Login" method="post">
            <div class="form-group">
                口令：<input type="password" value="" name="loginPassword" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-success" name="btnLogin" value="登录">登录2</button>
            </div>
        </form>
    </div>
</body>
</html>
